/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
/* fraunces-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fraunces-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fraunces-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/fraunces-v31-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/manrope-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/manrope-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* CSS VARIABLES */
:root {
  /* COLORS */
  --green-color: hsl(150, 100%, 63%);
  --purple-900: hsl(273, 85%, 13%);
  --purple-500: hsl(271, 12%, 34%);
  --purple-100: hsl(276, 100%, 99%);
  --white-color: hsl(0, 0%, 100%);
  /* FONTS */
  --ff-manrope: "manrope", sans-serif;
  --ff-fraunces: "Fraunces", sans;
}
body {
  min-height: 100vh;
  font-family: var(--ff-manrope);
}
.bg-container {
  background-color: var(--purple-900);
  position: relative;
  min-height: 500px;
  /*  padding-top: 2rem;*/
  /*  overflow: auto;*/
  /*  display: flow-root;*/
}

/* UTILITIES CLASSES */

.wrapper {
  width: min(calc(100% - 40px), calc(1440px - 160px));
  margin-inline: auto;
  /*  margin-block: 2rem;*/
}
.padding {
  padding-block-start: 2rem;
}
.mb {
  margin-bottom: 3.5rem;
}
.nowrap {
  white-space: nowrap;
}
.underline {
  text-decoration: underline;
  text-decoration-color: var(--green-color);
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}

/* HEADER CSS */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  text-decoration: none;
  line-height: 1.5;
  color: white;
  font-size: 18px;
}

/* HERO CSS */
.hero {
  text-align: center;
  color: var(--white-color);
  padding-bottom: 9rem;
  position: absolute;
  left: 50%;
  translate: -50%;
}
.hero__heading {
  font-size: 3rem;
  margin-block-end: 2.5rem;
  font-family: var(--ff-fraunces);
}
.hero__btn:any-link {
  display: inline-block;
  background: var(--green-color);
  padding: 0.75em 2em;
  border: none;
  text-decoration: none;
  color: black;
  font-weight: bold;
  line-height: 1.8;
  margin-bottom: 4.5rem;
}
.curve {
  /*  position: relative;*/
  border-radius: 0 0 30% 30% / 0 0 20px 20px;
}
.hero figure {
  display: flex;
  justify-content: center;
}
.hero__image {
  width: min(100%, 514px);
  /*  position: absolute;
  bottom: 0;
  transform: translateY(calc(50% - 0px));*/
}
